@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

label,
input,
button {
    font-size: 1.2rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Zilla Slab', serif;
    background-image: url(https://www.fondox.net/wallpapers/resoluciones/13/hackers-y-tecnologia_1280x1024_47.jpg);
    background-size: cover;
}

h1,
h2,
h3,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    display: inline-block;
    border: 0;
    color: inherit;
    cursor: pointer;
}

input {
    outline: 0;
}